:root {
  --header-height: 3rem;
  --nav-width: 4rem;
  --primary-color: #232323;
  --second-color: #f2f0ed;
  --text-color: #cfba8b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--second-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MarckScripts";
  src: url("./assets/Fonts/Marck_Script/MarckScript-Regular.ttf")
    format("truetype");
}
