.serviceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.imageBox {
  background-color: white;
  width: 170px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.image {
  width: 120px;
  margin: 10px;
}

.title {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 20px;
}

.bannerContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.leftSection {
  width: 65%;
  margin-top: 5px;
}

.rightSection {
  display: flex;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  color: var(--primary-color);
  margin: 0;
}

.img {
  position: absolute;
  width: 200px;
  right: 0;
}
